.project > img{
    width: 350px;
    height: 180px;
}

.project{
    margin: 15px;
    width: 350px;
    height: 180px;
    transition: transform 100ms ease-in;
}

.project:hover{
    color:black;
    background-color:whitesmoke;
    transform: scale(1.05);
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.project_content{
    padding: 10px;
}

.project_content > h4{
    padding-bottom: 5px;
    text-align: center;
}

.project_content > p{
    font-size: 15px;
}