@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@300;600&family=Poppins:ital,wght@0,300;1,200&display=swap');

.skillcontainer{
    display:flex;
    align-items: center;
    justify-content:center;
    margin:180px 0 ;
    padding-top: 100px;
}

.skillcontainer_text{
    color: whitesmoke;
    flex:0.7;
    max-width: 300px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.skillcontainer_text > h2 > b{
    font-size: 30px;

}

.skillcontainer_text > h2 > b > span{
    color: yellow;

}

.skillimage{
    flex:0.3;
    text-align: center;
    margin-right: 50px;
}

.skillimage > img{
    width: 700px;
    border-radius:10px ;
    object-fit: contain;
    
}

.skillcontainer_skill > h5{
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    padding-bottom: 30px;
    padding-top: 10px;
}

.skillcontainer_slider > .MuiLinearProgress-colorPrimary {
    background-color: rgb(43, 41, 41);

}



.skillcontainer_slider1 > span >span.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Determinate.css-5xe99f-MuiLinearProgress-bar1{
    background-color:#F0DB4F
}

.skillcontainer_slider2 > span >span.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Determinate.css-5xe99f-MuiLinearProgress-bar1{
    background-color:#61DBFB 
}

.skillcontainer_slider3 > span >span.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Determinate.css-5xe99f-MuiLinearProgress-bar1{
    background-color:#00758F 
}

.skillcontainer_slider4 > span >span.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Determinate.css-5xe99f-MuiLinearProgress-bar1{
    background-color:#F06529 
}

.skillcontainer_slider5 > span >span.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Determinate.css-5xe99f-MuiLinearProgress-bar1{
    background-color:#589636
}

